body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
}
.buttonmain{
    float: left;
    margin-top: -50px;
    margin-left: 80px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1{
    color: #e2d7d7; 
}

h2{
    color: #060606;
}

p {
    line-height: 1.6;
    color: #555;
}

.review {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.review-author {
    font-weight: bold;
    color: #333;
}

.review-date {
    color: #888;
}

.review-content {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}